.post-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid maroon;
  cursor: pointer;
  &__icons {
    display: flex;
    align-items: center;
    * {
      margin-left: 20px;
    }
  }
  &__delete {
    color: darkred;
  }
  &__heart {
    display: block;
    overflow: hidden;
    color: red;
    .fa {
      transform: translateY(60px);
      transition: all .8s;
      opacity: 0;
    }
  }
  &.liked {
    .post-list-item__heart .fa {
      transform: translateY(0);
      opacity: 1;
    }
  }
}